{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Home</h1>
    <div style="padding-top:20px;">
        <h3>Pessoas</h3>
        <ul>
            <li><a href="{% url 'person_list' %}">Ver todas as Pessoas</a></li>
            <li><a href="{% url 'person_new' %}">Cadastrar nova Pessoa</a></li>
        </ul>
    </div>
    <div style="padding-top:20px;">
        <h3>Documentos</h3>
        <ul>
            <li><a href="{% url 'document_list' %}">Ver todos os Documentos</a></li>
            <li><a href="{% url 'document_new' %}">Cadastrar novo Documento</a></li>
        </ul>
    </div>    
    <div style="padding-top:20px;">
        <h3>Casas</h3>
        <ul>
            <li><a href="{% url 'house_list' %}">Ver todos as Casas</a></li>
            <li><a href="{% url 'house_new' %}">Cadastrar nova Casa</a></li>
        </ul>
    </div>        
{% endblock %}