{% extends 'base/base_list.html' %}

{% block title %}Listagem de Pessoas{% endblock %}
    
{% block h1 %}Listagem de Pessoas{% endblock %}

{% block list %}

    {% for person in persons %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    {{person}}
                </div>
                <div class="col-1">
                    <a href="{% url 'person_edit' person.id %}">Editar</a>
                </div>
                <div class="col-1">
                    <a href="{% url 'person_delete' person.id%}">Deletar</a>
                </div>
            </div>                   
        </li>
    {% endfor %}

{% endblock %}

{% block a_add_button %}<a href="{% url 'person_new' %}">Cadastrar nova Pessoa</a>{% endblock %}