{% extends 'base/base.html' %}

{% block title %}Listagem de Pessoas{% endblock %}
    
{% block main %}

    <h1>Listagem de Pessoas</h1>
    <ol>
        {% for person in persons %}
            <li>{{person}} - <a href="{% url 'person_edit' person.id %}">Editar</a> - <a href="{% url 'person_delete' person.id%}">Deletar</a></li>
        {% endfor %}
    </ol>
    <p style="margin-top: 100px;"><a href="{% url 'home' %}">Voltar para a Home</a><p>
    <p><a href="{% url 'person_new' %}">Cadastrar nova Pessoa</a></p>
    
{% endblock %}
